*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: #f2fae9;
}
.board{
    height: 380px;
    width: 450px;
}
.display{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.snakeImg{
    height:87vh;
    bottom: 0px;
    margin-bottom: 0px;
    width:340px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    
}

.button:hover {
    background-color: #3e8e41
}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}